mixin item(item)
	-var name= '"' + item.name + '"'
	-var prise= "<span>" + item.prise.value + ", " + item.prise.curency
	if typeof item == "object"
		a.item.centered(href="#")
			img(src=item.src alt="backpack " + item.name) 
			br 
			|Backpack
			br 
			|#{name}
			br
			|!{prise}
	else
		h1 Type err
